* {
  margin: 0px;
  padding: 0px;
  background-color: #414141;
  box-sizing: border-box; }

body {
  background-color: #414141;
  margin: 20px;
 }

main {
  text-align: center; }

header {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline; }

fieldset {
  justify-content: center;
  display: inline-block; }

section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around; }

@media only screen and (max-width: 500px) {
  * {
    background-color: #a86262; }
  body {
    background-color: #971075; }
  main {
    font-size: 0.7rem;
    width: auto;
    height: auto; }
  h1 {
    font-size: 1.3rem;
    color: #47126b; }
  h2 {
    font-size: 1.1rem;
    color: #704425; }
  h3 {
    font-size: 1rem;
    color: #422555; }
  iframe {
    width: auto;
    height: auto; }
  .contenedor {
    background-color: aquamarine;
    width: 30%;
    height: 40vh;
    border: solid #00ff55 3px;
    margin: 10px auto;
    display: grid;
    justify-content: space-around;
    align-content: center; }
  .texto {
    background: #eeaeca;
    background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
    color: #460846;
    font-family: 'Merienda', cursive;
    line-height: 2.5;
    border: double 10px #6e256e;
    border-radius: 15%;
    width: auto;
    display: inline-block;
    padding: 80px;
    text-align: center;
    /* sobre nosotros */ }
  .clase-parrafo {
    color: white;
    font-family: 'Merienda', cursive;
    font-size: 21.79px;
    line-height: 3.17;
    border: 2px double #949494;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-content: center; }
  img {
    width: 60%;
    height: auto;
    justify-content: center;
    text-align: center;
    align-content: center; } }

@media only screen and (min-width: 1000px) {
  * {
    background-color: #363636; }
  body {
    background-color: #363636; }
  main {
    width: auto;
    height: auto; }
  h1 {
    font-size: 1rem;
    color: #47126b; }
  h2 {
    font-size: 1.2rem;
    color: #704425; }
  h3 {
    font-size: 1rem;
    color: #422555; }
  iframe {
    width: 700px;
    height: 400px; }
  .contenedor {
    background-color: aquamarine; } }

h1 {
  color: #eebee8bd;
  font-family: 'Palette Mosaic', cursive;
  line-height: 1.6;
  text-align: center; }

h1 span {
  transition: all 2s linear; }

h1:hover span {
  color: #ee87d8;
  text-shadow: 0 0 10px white, 0 0 20px, 0 0 40px; }

h2 {
  background-color: rgba(240, 248, 255, 0.144);
  color: #535353;
  font-family: 'Merienda', cursive;
  line-height: 1.5;
  text-align: center; }

h3 {
  color: #6479a0;
  text-align: left;
  font-family: 'Merienda', cursive;
  line-height: 1.3; }

h4 {
  color: #a1927d;
  font-family: 'Merienda', cursive;
  line-height: 1.4; }

h5 {
  color: #c5b8ba;
  font-family: 'Merienda', cursive;
  line-height: 1.6; }

h6 {
  color: white;
  font-family: 'Merienda', cursive;
  font-size: 21.79px;
  line-height: 3.17; }

.texto {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  color: #460846;
  font-family: 'Merienda', cursive;
  line-height: 2.5;
  border: double 10px #6e256e;
  border-radius: 15%;
  width: auto;
  display: inline-block;
  padding: 80px;
  text-align: center;
  /* sobre nosotros */ }

.clase-parrafo {
  color: white;
  font-family: 'Merienda', cursive;
  font-size: 21.79px;
  line-height: 3.17;
  border: 2px double #949494;
  padding: 1rem;
  text-align: center; }

img {
  opacity: .4;
  padding: 1rem;
  /* index y galeria de nuestros animales*/ }

img:hover {
  opacity: 1;
  border: solid 2.5px violet;
  /* index y galeria de nuestros animales */ }

ul {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  list-style-type: circle;
  font-family: 'Merienda', cursive;
  line-height: 1.5;
  /* todas las paginas */ }

li {
  text-align: center;
  /* todas las paginas */ }

a {
  color: #41403d;
  text-decoration: none;
  text-align: center; }

label {
  color: #b1aeae;
  /* formulario de adopcion */ }

legend {
  color: white;
  /* formulario de adopcion */ }

div {
  color: white;
  text-align: center; }

option {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  /* formulario de adopcion */ }

input {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  /* formulario de adopcion */ }

select {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%); }

textarea {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  /* formulario de adopcion */ }

.contenedor {
  background-color: gray;
  width: 90%;
  height: auto;
  border: solid blue 3px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "ab ab c" "d ef ef";
  justify-content: space-around;
  align-content: center; }

.hijo {
  background-color: chocolate;
  border: 2px solid yellow; }

.ab {
  background-color: coral;
  grid-area: ab; }

.c {
  background-color: aqua;
  grid-area: c; }

.d {
  background-color: violet;
  grid-area: d; }

.ef {
  background-color: orange;
  grid-area: ef; }